<!DOCTYPE html>
<html>
    <head>
        <title>وبلاگ حکیم</title>
    </head>
    <body dir="rtl">
        <header>
            <h1><a href="/">وبلاگ حکیم</a></h1>
        </header>
        {% for post in posts %}
        <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">دومین بلاگ من</a></h2>
            <p>شهروندان در صورت بروز مشکل و مواجهه با جرائم رایانه‌ای می‌توانند با شماره گیری 096380 مرکز امـداد و فوریت‌های سایبـری از مشاوره‌ها و راهنمایی‌های کارشناسان این پلیس در جهت رفع مشکلات احتمالی خود اقدام نمایند.</p>
        </article>
        {% endfor %}
    </body>
</html>